@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-slider-thumb {
  appearance: none;
  width: 3vmin;
  height: 3vmin;
  background: white;
  border-radius: 50%;
}

input[type="checkbox"].border-blue-500 {
  border-color: #3498db; /* Use the color you desire */
}
